.App {
  text-align: center;
  background-image: linear-gradient(rgb(207, 117, 132), rgb(232, 232, 171), rgb(147, 147, 195));
  width: 100vw;
  height: 100vh;
}

.body{
  /*background-color: white;*/
  width: 100vw;
  height: 100vh;
}

